// Bootstrap grid
//$enable-flex:               true;
//$enable-grid-classes:       false;
//$grid-gutter-width: 20px;

//Base container
$padding-container: 40px;
$width-container:	1300px;

$c-red: #ec2227;
$c-border: #ebebeb;
// Base color


