/* LG Device :992px. */

@media only screen and (min-width: 1600px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) {
  .main-menu {
    display: inline-block;
    visibility: visible;
    opacity: 1;
  }

  .header-bar-area.sticky {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    background: #000;
    padding: 18px 0px;
  }



}

@media only screen and (max-width: 991px) {
  .page_wrapper {
    overflow-x: hidden !important;
  }

  .header-bar-area,
  .header-bar-area.sticky {
    position: absolute;

  }

  .main-menu {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .hamburger-menu {
    cursor: pointer;
    display: block;
  }

  .header_menu {
    order: 2;
    margin-left: 20px;
  }

  .countdown_text,
  .countdown_text p {
    display: block;
    text-align: center;
  }

  .countdown_box {
    padding-right: 0;
    margin-top: 30px;
  }

  .countdown-deals {
    justify-content: center;
  }

  .countdown-deals .cdown {
    width: 25%;
  }

  .countdown-deals .cdown span {
    font-size: 38px;
  }

  .competition_title {
    font-size: 20px;
    line-height: 25px;
  }

  .gal_info_left h3 {
    font-size: 26px;
    line-height: 30px;
  }

  .gal_info_center,
  .gal_info_right {
    width: 26%;
  }

  .gal_info_left {
    width: 44%;
  }

  .icon_text h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .icon_text h2 {
    font-size: 92px;
    line-height: 130px;

  }

  .step_wrap.v1 .step_icon::after,
  .step_wrap.v2 .step_icon::after {
    height: 105px;
  }

  .step_wrap.v1 .icon_text {
    margin: 0 0 0 20px;
  }

  .step_wrap.v1 .icon_img,
  .step_wrap.v2 .icon_img {
    max-width: 40%;
  }

  .step_wrap.v1 .step_icon::after {
    width: 235%;
  }

  .step_wrap.v1 .step_text {
    margin-left: 0;
  }

  .step_wrap.v2 .step_text {
    margin-right: 45px;
  }

  .step_wrap.v2 .icon_img img {
    min-width: auto;
  }

  .icon_text h2 {
    font-size: 70px;
    line-height: 100px;
  }

  .icon_text {
    width: 34%;
  }

  .countdown_box.v2 {
    padding: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-menu .nav-item .nav-link {

    font-size: 14px;
  }

  .main-menu .nav-item {
    padding: 0 5px;
  }

  .competition_title {
    font-size: 26px;
    line-height: 40px;
  }

  .gal_info_center,
  .gal_info_right {
    width: 29%;
  }

  .gal_info_left {
    width: 40%;
  }

  .gal_info_left h3 {
    font-size: 24px;
    line-height: 30px;
  }

  .gal_info_center h4,
  .gal_info_right h4 {
    font-size: 18px;
  }

  .gal_info_left h3::after {
    right: -18px;
  }

  .step_text {
    width: 65%;
    margin-left: 5%;
  }


  .about_text h3 {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 15px;
  }

  .about_text p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 22px;
  }

  .footer_widget h2 {
    font-size: 21px;
  }

  .footer_widget ul li a {
    font-size: 13px;
    line-height: 36px;
  }

  .single_winner_item h4,
  h5.winner_name {
    font-size: 16px;
    line-height: 26px;
  }
}


/* MD Device :768px. */

@media only screen and (min-width: 768px) {
  .md-none {
    display: none;
  }

}

/* Extra small Device. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .content_wrap {
    padding: 130px 0 60px;
  }

  .hero_content h1 {
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 30px;
  }

  .section_padding {
    padding: 40px 0;
  }

  .section_title {
    margin-bottom: 45px;
  }


  .section_title h2 {
    font-size: 40px;
  }

  .section_title h2::after {
    bottom: -7px;
    height: 30px;
  }

  .step_text h2 {
    font-size: 30px;
    line-height: 42px;
  }

  .step_text p {
    font-size: 15px;
    line-height: 24px;
  }

  .about_text h3 {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 12px;
  }

  .about_text p {
    font-size: 11px;
    margin-bottom: 8px;
    line-height: 16px;
  }

  .about_promo {
    padding: 12px 0;
  }

  .about_btn .btn.v4 {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 55px;
  }

  .footer_widget h2 {
    font-size: 26px;
    line-height: 36px;
    margin: 0 0 10px;
  }

  .footer_widget ul li a {
    font-size: 13px;
    line-height: 36px;
  }

  .footer_widget {
    margin-bottom: 25px;
  }

  .table_item_title a,
  .entry_table_data_item p {
    font-size: 16px;
    line-height: 24px;
  }

  .entry_table_header_item h6 {
    font-size: 18px;
    line-height: 22px;
  }

  .product_info {
    padding-left: 0;
    padding-top: 10px;
  }

  .purchase_step span {

    margin-right: 10px;
  }

  .purchase_step p {
    font-size: 14px;
  }

  .product_name h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .slider-nav.slick-initialized.slick-slider .slick-prev,
  .slider-nav.slick-initialized.slick-slider .slick-next {
    top: 65%;
  }

  .slider-nav__item.slick-slide img {
    min-height: 55px;
    max-height: 55px;
  }


  .countdown_box.v2 .cdown span {
    font-size: 55px;
  }

  .progressbar_wrap h4 {
    font-size: 18px;
  }

  .ticket_counter {
    margin: 0px 0 50px;
  }

  .ticket_list li {
    width: 10%;

  }

  .nav.nav-tabs.list-details-tab li a {
    font-size: 16px;

  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .xs-none {
    display: none;
  }

  .xs-block {
    display: block;
  }

  .navbar-brand img {
    max-width: 260px;
    width: 200px;
  }

  .header-bar-area {
    padding: 15px 0;
  }


  .hero_content {
    padding: 0 20px;
  }



  .section_padding {
    padding: 25px 0;
  }

  .section_title {
    margin-bottom: 25px;
  }

  .reg_form {
    padding: 5px;
  }


  .section_title h2 {
    font-size: 36px;
  }

  .form_title {
    font-size: 24px;
  }

  .section_title h2::after {
    bottom: 5px;
    height: 20px;
    width: 80px;
  }

  .countdown_wrap {
    margin-bottom: 10px;
  }

  .btn.v1,
  .btn.v2,
  .btn.v3,
  .btn.v4 {
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 10px 10px;
  }

  .btn.v6 {
    display: block;
    font-size: 22px;
  }

  .hero_btn a {
    margin: 0 0 15px;
  }

  .hero_content h1 {
    font-size: 28px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .countdown_box {
    margin-top: 15px;
  }

  .countdown_text h2 {
    font-size: 30px;
  }

  .countdown_text p {
    font-size: 16px;
  }

  .cdown span {
    font-size: 34px;
    line-height: 50px;
  }

  .cdown p {
    font-size: 11px;
    line-height: 14px;
    margin: 0;
  }

  .winner_slider .owl-prev {
    left: 18px;
  }

  .winner_slider .owl-next {
    right: 18px;
  }

  .winner_info {
    padding: 16px 0;
  }

  .winner_info h3 {
    font-size: 20px;
    line-height: 20px;
  }

  .winner_info a {
    font-size: 19px;
    line-height: 26px;
  }

  .winner_info p {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 10px;
  }

  .step_wrap {
    margin: 75px 0;
  }

  .step_text {
    min-height: 0;
  }

  .step_text span {
    font-size: 12px;
    line-height: 22px;
    padding: 5px 18px 3px;
  }

  .step_text h2 {
    font-size: 20px;
    line-height: 30px;
    margin: 8px 0 3px;
  }

  .step_text p {
    font-size: 13px;
    line-height: 20px;
  }


  .about_text h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .about_text p {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 22px;
  }

  .about_promo {
    margin-top: 40px;
    position: relative;
  }

  .about_btn {
    margin-bottom: 20px;
    text-align: center;
  }

  .partner_img {
    padding: 0;
  }

  .partner_slider .owl-dots {
    bottom: -60px;
  }

  .partner_slider {
    margin-bottom: 40px;
  }

  .footer_widget h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 10px;
  }

  .footer_widget ul,
  .payment_option {
    margin: 0;
  }

  .footer_widget ul li a {
    font-size: 13px;
    line-height: 36px;
  }

  .footer_widget {
    margin-bottom: 25px;
  }

  .social_link {
    text-align: left;
    margin: 20px 0;
  }

  .promo_content p {
    font-size: 16px;
    line-height: 24px;
    padding: 0 10px;
  }

  .about_text {
    text-align: center;

  }

  .footer_widget,
  .footer_logo,
  .social_link,
  .footer_subtitle,
  .payment_option {
    text-align: center;
  }

  .step_wrap.v1 .step_icon::after {
    left: -50%;
  }

  .step_wrap.v2 .step_text {
    text-align: left;
  }

  .content_wrap {
    padding: 100px 0 80px;
  }

  .section_title.v2 {
    margin-bottom: 35px;
  }

  .nav.nav-tabs.list-details-tab li a {
    font-size: 10px;
    line-height: 28px;
    padding: 4px 5px;
  }

  .nav.nav-tabs.list-details-tab li a.active::before {
    top: -10px;
    height: 45px;
  }

  .curr_title {
    font-size: 18px;
    line-height: 20px;
    margin: 20px 0 15px;
  }

  .entry_pagination p {
    font-size: 12px;
    line-height: 28px;
  }

  .entry_pagination {
    justify-content: flex-start;
    margin: 15px 0 5px;
  }

  .entry_table {
    width: 100%;
    overflow-x: auto;
  }

  .entry_table.orders .entry_table_header,
  .entry_table.orders .entry_table_data {
    display: flex;

  }

  .entry_table_header,
  .entry_table_data {
    display: inline-flex;

  }

  .entry_table_header_item:nth-child(1),
  .entry_table_data_item:nth-child(1) {
    min-width: 250px;
  }


  .entry_table_header_item,
  .entry_table_data_item {
    min-width: 120px;
  }

  .table_item_title a,
  .entry_table_data_item p {
    font-size: 14px;
    line-height: 20px;
  }

  .entry_table_header_item h6 {
    font-size: 14px;
    line-height: 22px;
  }

  .table_item_title {
    padding-left: 11px;
    text-align: left;
  }

  .form-group input {
    height: 50px;
    font-size: 14px;
  }

  .product_info {
    padding-left: 0;
    margin-top: 40px;
  }

  .purchase_step span {

    margin-right: 10px;
  }

  .purchase_step p {
    font-size: 14px;
  }

  .product_name h2 {
    font-size: 23px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .product_name h2::after {
    bottom: -7px;
    height: 24px;
  }

  .slider-nav.slick-initialized.slick-slider .slick-list {
    margin: 0 15px 0 15px;
  }

  .slider-nav__item.slick-slide {
    padding: 0 6px;
  }

  .slider-nav__item.slick-slide img {
    min-height: 50px;
    max-height: 50px;
  }

  .slider-nav.slick-initialized.slick-slider .slick-prev {
    top: 65%;
    left: 2px;
  }

  .slider-nav.slick-initialized.slick-slider .slick-next {
    top: 65%;
    right: 2px;
  }

  .slider-nav__item.slick-slide.slick-current.slick-active::before {

    left: 6px;
    width: calc(100% - 12px);

  }

  .product_pagination {
    text-align: center;
    margin: 30px 0;
  }

  .product_pagination ul li:first-child {
    margin-left: 0;
  }

  .section_title.v3 {
    margin-bottom: 20px;
  }

  .section_title.v3 h3 {
    font-size: 20px;
    line-height: 28px;
    padding: 5px 12px;
  }

  .countdown_box.v2 .cdown span {
    font-size: 36px;
  }

  .countdown_box.v2 .cdown {
    width: 25%;
  }

  .progressbar_wrap h4 {
    font-size: 16px;
    line-height: 24px;
  }

  .progress_count_left span,
  .progress_count_right span {
    font-size: 11px;
    line-height: 17px;
  }

  .progress_count_left h3,
  .progress_count_right h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .progress {
    margin: 10px 0;
  }

  .ticket_counter {
    margin: 0px 0 40px;
  }

  .ticket_left p {
    font-size: 16px;
    line-height: 26px;
  }

  .subtitle h4 {
    font-size: 22px;
    line-height: 28px;
  }

  .subtitle span {
    font-size: 64px;
  }

  .ticket_num p {
    font-size: 15px;
    line-height: 22px;
    margin: 45px 0 50px;
  }

  .btn.v8 {
    margin: 20px auto 0;
    display: block;
  }

  .ticket_list li {
    width: 60px;

  }
  .list-inline.__tickets-answer{
    margin: 0 -15px;
  }
  .question li {
    max-width: 44%;
    width: 100%;
  }

  .selected_tickets li {
    margin: 0 2px;
  }

  .selected_tickets {
    margin: 40px 0 30px;
  }

  .competiton_info p {
    font-size: 14px;
    line-height: 22px;
  }

  .winner_search {
    margin-bottom: 20px;
  }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table.basket-table, .basket-table thead, .basket-table tbody, .basket-table th, .basket-table td, .basket-table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .basket-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .basket-table tr { border-bottom: 1px solid #ccc; margin: 5px 0; }

  .basket-table td {
    /* Behave  like a "row" */
    border: none;
    background: #fbfbfb;
    position: relative;
  }

  .basket-table td:before {
    white-space: nowrap;
  }

  .basket-table .comp-img {
    display: none;
  }

  /*
  Label the data
  */
  .basket-table td:nth-of-type(1):after { content: "Remove"; color: red; padding: 0 5px 0; font-size: 10px }
  .basket-table td:nth-of-type(3):before { content: "Ticket Numbers: "; }
  .basket-table td:nth-of-type(4):before { content: "Total "; }
}
