#formsendHover {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
 
.form-loading {
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    background-color: transparent;
    border: 5px solid rgba(#ec2227, 0.25);
    border-left: 5px solid #ec2227;
    position: fixed;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: spinner-animation 0.65s infinite linear;
    -moz-animation: spinner-animation 0.65s infinite linear;
    -o-animation: spinner-animation 0.65s infinite linear;
    -ms-animation: spinner-animation 0.65s infinite linear;
    animation: spinner-animation 0.65s infinite linear;
}

.error{
  border: 1px solid red !important;
}
#form-status{
  margin-top: 10px;
}
.with_error{
  color: #ec2227;
}
.form-status{
  font-size: 12px;
  //color: #00a3dc;
    padding-top: 15px;
    display: block;
    text-align: center;
}

#thanks{
  position: relative;
  width: 300px;
  margin: 0 auto;
  background: #fff;
}

@-webkit-keyframes spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinner-animation {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes spinner-animation {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes spinner-animation {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(100deg);
  }
}
@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}